 <div id="content">
    <div class="a" id="map">
      <div>
        
      </div>
      {{#if}}
      <div id="addTea">
       <a href=""><button id="b" class="sing more">Add new tea</button></a> 
      </div>
      {{/if}}
    </div>
    <div class="a" id="comments">
      {{#each }}
      <div class="post">
        <div>
          <a href="{{ }}"><img class="foto" src={{}} alt=""></a>
        </div>
        <div class="com">
          <div class="tea">
          {{}}
          </div>
         <div class="text">
          {{}}
          </div>
          <div class="autor">
          {{}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>
