 <div id="content">
    <div class="a" id="map">
      <div id="myMap">

      </div>
    </div>
    <div class="a" id="comments">
      <form method="post" action="http://localhost:3000/all_teas/new_tea">
        <input class="input ss" type="text" name="tea_name" placeholder="название чая">
        <textarea class="input ss b3" type="text" name="description" placeholder="описание"></textarea> 
        <input class="input ss" type="text" name="from" id="geometry_point" placeholder="координаты">
          <input class="input ss" type="text" name="image" placeholder="фото">
        <button id="b4" type="submit">ADD NEW TEA</button>
      </form>
      </div>
    </div>
  </div>
