<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoreЧАЯ</title>
  <link rel="stylesheet" href="/styles/slyle.css">
</head>
<body>
    <div id="header">
    <div id="image">
          <a class="more" href="http://localhost:3000/all_teas">
            <div id="title">
      
              <img id="logo" src="/images/pngwing.com (2).png" alt="">  more ЧАЯ
      
            </div>
          </a>
    </div>
    <div id="buttons">
      {{#if userId}}
      <a  href="http://localhost:3000/logout"><button class="sing more" type="submit">Log out</button></a>
      {{else}}
      <a  href="http://localhost:3000/signIn"><button class="sing more" type="submit">Sign in</button></a>
      <a  href="http://localhost:3000/signup"><button class="sing more" type="submit">Sign up</button></a>
      {{/if}}
    </div>
  </div>
  {{{body}}}
</body>
</html>
