<div id="content">
    <div class="a" id="form">
      <form method="post" id="c" action="http://localhost:3000/signup">
        <p>
          <input class="input" type="text" name="userName">
        </p>
        <p>
          <input class="input" type="password" name="password">
        </p>
        <p>
          <button class="formButton" type="submit">зарегистрироваться</button>
        </p>
      </form>
    </div>
  </div>
